<div class="chat-element">
    <div class="wrapper avatar">
        <img src="{{avatar}}">
    </div>

    <div class="chat-wrap">
        <div class="name-message-wrap">
            <div class="sender-name">
                <p class="name">{{firstname}} {{lastname}}</p>
            </div>
            <div class="last-message">
                <p class="new-message">{{last_message}}</p>
            </div>
        </div>
        <div class="time-number-wrap">
            <div class="time">
                <p class="time-text">
                    {{time}}
                </p>
            </div>
            <div class="new-number">
                <span class="badge">
                    {{number}}
                </span>
            </div>
        </div>
    </div>
</div>
